* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.3rem;
}
.containerMenu {
  background-color: black;
  min-width: 100vw;
  min-height: 5vh;
  display: flex;
  justify-content: end;
  padding: 2%;
  gap: 15px;
}
.itensMenu {
}
.itensMenu ul li {
  display: inline-flex;
  margin-left: 30px;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: pink;
  transform: scale(1.1);
  background-color: darkgray;
}
.containerMaster {
  background-color: gray;
  min-height: 95vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.itensMaster {
  display: flex;
  border: 2px solid black;
  background-color: white;
  width: 200px;
  height: 200px;
  padding: 15px;
  justify-items: center;
  align-items: center;
}
