* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.h1Titulo {
  text-align: center;
  width: 200px;
  margin-left: 45%;
  margin-top: 0%;
}

.header a img {
  width: 100px;
  padding: 5px;
  margin-left: 5px;
  margin-top: 5px;
}
