* {
  font-family: Poppins;
  margin: 0;
  padding: 0;
}

/* Estilo para a logo */
.logo {
  width: 130px;
  position: absolute;
  top: 10px;
  left: 10px;
}

header {
  border-bottom: 1px solid black;
  font-size: 1rem;
  padding: 10px;
  text-align: center;
  position: static;
}

/* Barra de pesquisa */
.search-form {
  display: inline-flex;
  position: absolute;
  top: 20px;
  right: 20px; /* Posiciona no canto superior direito */
}

.search-input {
  padding: 5px 5px 5px 10px;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 15px 0px 0px 15px;
  font-size: 12px;
  margin-right: 0px;
}

.search-button {
  padding: 5px 10px;
  background-color: rgb(0, 179, 255);
  color: white;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 0px 15px 15px 0px;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 0px;
}

.search-button:hover {
  background-color: rgb(19, 125, 171);
}

h1,
h2 {
  font-family: Poppins;
  font-weight: 300;
}

h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  margin-bottom: 25px;
}

.feature,
.catalog,
.cta {
  font-size: 1rem;
  padding: 10px;
  text-align: center;
}

.feature img {
  width: 500px;
}

.cta-button {
  background-color: black;
  border-radius: 15px;
  color: white;
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 150px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
}

.cta-button:hover {
  background-color: gray;
  transform: scale(1.1);
}

.genres > li {
  display: inline;
  margin-top: 10px;
}

.genres > li + li {
  margin-left: ;
  margin-top: ;
}

.genre > a,
.see-more > a {
  background-color: ;
  border-radius: ;
  color: ;
  display: ;
  padding: ;
  text-decoration: ;
  transition: ;
}

.genre > a:hover {
  background-color: ;
  transform: ;
}

.see-more > a {
  background-color: ;
  text-transform: ;
}

.see-more > a:hover {
  background-color: ;
  transform: ;
}

footer {
  background-color: ;
  color: ;
  font-family: ;
  padding: ;
  text-align: ;
}
